body {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 20px;
}

.card {
    background: #1e293b;
}

.btn-voltar {
    background: #1e293b;
}

h1 {
    font-size: 26px;
}